.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  /* filter: brightness(2); */
  /* box-shadow: 0 0 100px blue; */
  /* animation: glow-animation 1.5s infinite alternate; */
}

@keyframes glow-animation {
  from {
    filter: brightness(0.5);
  }
  to {
    filter: brightness(1);
  }
}

@keyframes glow-animation {
  from {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
  }
  to {
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.8);
  }
}
